// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//
// Relaunch.es - layout
//
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
HEADER
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

header {
	display: block; 
	margin: 1em 0; 
	padding: 4em 0 3em 0; 
	text-align: center;
}

header h1 {
	display: block; 
	margin-top: 1em;
	text-align: center; 
	// font-family: 'Montserrat';
}

header h1 a { color: #333; padding: 120px 6px 4px 6px; border: 4px solid #333;}

header h1 a:hover {color: #fff; background: #222; border: 3px solid #222;}
header small {display: block; margin: 10px 0 0 0; font-size: 0.8em; color: #444; }

#logo {
	display: block;
	margin: 0.3em auto;

	a.relaunches {
		display: inline-block;
		color: #fff; 
		padding: 95px 9px 4px 9px; 
		border: 1px solid #222;
		text-transform: uppercase;
		background: #222;
		text-align: center; 
		// font-family: 'Montserrat';
		font-size: 1.1em;
		// firing up 3D accelerator
		-webkit-transform: translateZ(0);

		&:hover {
			background: #333;
			border-color: #333;
			color: #eee;
		}
	}
}


/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
NAVIGATION
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */


// Overlay menu

.icon-menu-1 {
	display: block;
	z-index: 992;
	position: absolute;
	top: 0.2em;
	right: 0.3em;
	font-size: 2.3em;
	color: #444;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
	cursor: pointer;
}


.icon-menu-1.toggled {
	display: none;
}


.icon-cancel {
	display: none;
	font-size: 2.3em;
	color: #eee;
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

.icon-cancel.toggled {
	display: block;
	position: fixed;
	z-index: 992;
	top: 0.2em;
	right: 0.3em;
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}


#nav-container, #filter-container { 
	display: block;
	position: fixed;
	// container needs to be scrollable
	overflow-y: scroll;
	width: 100%;
	z-index:99;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000;
	background: rgba(0,0,0,0.95);
	opacity: 0;
	visibility: hidden;
	-webkit-transition: opacity 0.5s, visibility 0s 0.5s;
	transition: opacity 0.5s, visibility 0s 0.5s;
}

#nav-container.active, #filter-container.active {
	opacity: 1;
	visibility: visible;
	-webkit-transition: opacity 0.5s;
	transition: opacity 0.5s;
}

#nav-container nav, #filter-container .tag-list {
	-webkit-perspective: 1200px;
	perspective: 1200px;
}

#nav-container nav ul, #filter-container ul {
	list-style-type: none;
	padding: 0;
	margin: 3em 0 0 0;
	-webkit-transform: translateY(-25%) rotateX(35deg);
	transform: translateY(-25%) rotateX(35deg);
	-webkit-transition: -webkit-transform 0.5s, opacity 0.5s;
	transition: transform 0.5s, opacity 0.5s;

	li {
		display: block; 
		width: 100%;
		height: 15%;
		text-align: center;

		a {
			display: block;
			font-size: 1.5em !important;
			padding: 0.3em 0;
			text-transform: uppercase;
			// font-family: 'Montserrat', sans-serif;
			font-weight: 700;
			color: rgba(255,255,255,0.8);
			letter-spacing: -0.02em; 
			-webkit-transition: all 0.5s;
			transition: all 0.5s;

			&:hover {
				background: #fff;
				color: #222;
			}
		}
	}

// nav ul
}


#nav-container.active nav ul, #filter-container.active ul {
	opacity: 1;
	-webkit-transform: rotateX(0deg);
	transform: rotateX(0deg);
}


.fadeout {
	display: none;
}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
MULTICOLOR POSTS ON DEFAULT
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

article.post {

	&:nth-child(4n+1) {
		background-color: #ECF4F3;
		// background-color: #ECF4F3 url('../../img/border-bottom.png') bottom left repeat-x;
	}

	&:nth-child(4n+2) {
		background-color: #FFF3F3;
		// background-color: #FFF3F3 url('../../img/border-bottom.png') bottom left repeat-x;
	}

	&:nth-child(4n+3) {
		background-color: #E8EFE8;
		// background-color: #E8EFE8 url('../../img/border-bottom.png') bottom left repeat-x;
	}

	&:nth-child(4n+4) {
		background-color: #F9F7EA;
		// background-color: #F9F7EA url('../../img/border-bottom.png') bottom left repeat-x;
	}

}

/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
FOOTER
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

footer {
	display: block;
	clear: both;
	padding: 1.5em 0;
	background: #222;
	text-align: center;
	color: #888;
	border: none;

	a {
		color: #aaa;
		border-bottom: 2px solid #383838;

		&:hover {
			color: #ddd;
			border-bottom: 2px solid #888;
		}
	}

	small {
		// font-family: 'Roboto', sans-serif !important;
		font-size: .7em;
		color: #555;
	}

	address {
		display: block; 
		padding: 0.5em;
		font-size: 0.9em;
		line-height: 1.6em;
		font-style: normal;
	}

	ul {
		display: block;
		margin: 0.5em auto;
		padding: 0;
		list-style-type: none;
		text-align: center;

		li {
			display: inline-block;
			font-size: 1.4em;
			margin: 0 0.2em 0.4em 0.2em;

			a, a:visited {
				color: #666;
				border: none;
			}

			a:hover {
				color: #ddd;
				border: none;
			}
		}
	}


// footer
}


