// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//
// Relaunch.es - SCSS main file
//
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++

// FOUT
body { opacity: 0; }
.wf-active body, 
.wf-inactive body {
    opacity: 1;
    -webkit-transition: opacity 1s ease-out;  
    -moz-transition: opacity 1s ease-out; 
    -o-transition: opacity 1s ease-out;  
    transition: opacity 1s ease-out;  
}



// PARTIALS
@import 'variables';
@import 'normalize';
@import 'typography';

@import 'layout';
@import 'posts';
@import 'responsive';
@import 'transitions';




/* +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
GENERAL STUFF
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ */

body {
	margin: 0; 
	padding: 0; 
	background: #fff; 
	color: #444; 
	font-size: 100%; 
}

#main {
	display: block; 
	margin: 0; 
	padding: 0; 
}

a {text-decoration: none !important; color: #444;}

*:hover, *:activated {outline: none;}

.clear {clear: both;}









