// responsive media queries - inspired by bootstrap


.visible-xs {
	display: none;
}

// iPad Portrait + Landscape

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) { 

	header {
		padding: 2.5em 0 2em 0; 
	}

	a.relaunches {
		font-size: 1em !important;
		padding: 95px 6px 4px 6px !important; 
		// firing up 3D accelerator
		-webkit-transform: translateZ(0);
		animation-duration: 1s;
		-webkit-animation-duration: 1s;
    	animation-timing-function: ease-in;
    	-webkit-animation-timing-function: ease-in;
		animation-name: fillUp-tablet;
		-webkit-animation-name: fillUp-tablet;
	}
	
	.description p {
		font-size: 1.1em;

		small {
			font-size: 0.9em;
		}
	}

	.navigation a {
		font-size: 1.3em;
		padding: 12px 10px 12px 6px;
		border: none !important;
		text-align: center;

		&:hover, &:active, &:focus {
			background: #fff !important;
			color: rgba(200,0,0,0.5);
		}
	}

	.metadata a {
		font-size: 1em;
	}

}

// XS - phones

@media (max-width: $screen-xs-max) {

	// general helpers

	.hidden-xs {
		display: none;
	}

	.visible-xs {
		display: block;
	}


	// contentwise from top to bottom

	header {
		padding: 2em 0 1em 0; 
	}

	a.relaunches {
		font-size: 0.8em !important;
		padding: 85px 6px 4px 6px !important; 
		// firing up 3D accelerator
		-webkit-transform: translateZ(0);
		animation-duration: 2s;
		-webkit-animation-duration: 2s;
    	animation-timing-function: ease-in;
    	-webkit-animation-timing-function: ease-in;
		animation-name: fillUp-mobile;
		-webkit-animation-name: fillUp-mobile;
	}

	.post-body {
		padding-bottom: 1em !important;
	}

	.image-container, .teaservideo {
		padding-top: 0;
	}

	.metadata a {
		font-size: 1em;
	}

	h2 {
		font-size: 1.5em;
	}

	.description p {

		small {
			font-size: 0.9em;
		}
	}

	.navigation {
		padding: 2em 0;
	}

	.navigation a {
		font-size: 1.2em;
		width: 50%;
		border: none !important;
		text-align: left !important;

		&:hover, &:active, &:focus {
			background: #fff !important;
			color: rgba(200,0,0,0.5);
		}
	}

	.navigation a:nth-child(even) {
		text-align: right !important;
	}


	footer address {
		font-size: 0.8em;
	}



}