// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
//
// Relaunch.es - variables
//
// +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++


$bg-color: 						#fff;
$bg-color-alt: 					#f4f4f4;  // alternate post color

$base-font-size:				16px;





// SIZES

$content-max-width:				720px;





// COLORS

$text-color:					#222;



// RESPONSIVE SCREENS

$screen-sm-max:					767px;
$screen-xs-max:					380px;
